*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container-page{
    height: 100vh;
}
/* title section */

.title-section{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-section h1#page-title{
    padding: 5px;
    font-family: 'Acme', sans-serif;
    color: #29b1dd;
}
/* /title section */

/* nav section */
.nav-formatting{
    background-color: #29b1dd;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* /nav section */


/* main section */
main{
    background-color: lightgrey;
    padding: 10px;
    width: 100%;
    height: calc(100vh - 20vh);
    overflow-y: auto;
}
.container-cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);

    align-content: center;
    justify-content: start;
    height: 90%;
    width: 100%;
    gap: 20px;
}
.card-content{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;    
    
}
.card-content i{
    width: 100%;
    text-align: center;
}
/* /main section */